In [1]:
## 로지스틱 회귀분석
# 데이터 'breast-cancer-wisconsin.csv'
# 저장 classfication_test.csv

In [144]:
# 1. 데이터 불러오기
import pandas as pd
data1 = pd.read_csv('breast-cancer-wisconsin.csv', encoding = 'utf-8')
data1.tail()

,code,Clump_Thickness,Cell_Size,Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
678,776715,3,1,1,1,3,2,1,1,1,0
679,841769,2,1,1,1,2,1,1,1,1,0
680,888820,5,10,10,3,7,3,8,10,2,1
681,897471,4,8,6,4,3,4,10,6,1,1
682,897471,4,8,8,5,4,5,10,4,1,1

In [145]:
data1.describe()

,code,Clump_Thickness,Cell_Size,Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
count,6.830000e+02,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000
mean,1.076720e+06,4.442167,3.150805,3.215227,2.830161,3.234261,3.544656,3.445095,2.869693,1.603221,0.349927
std,6.206440e+05,2.820761,3.065145,2.988581,2.864562,2.223085,3.643857,2.449697,3.052666,1.732674,0.477296
min,6.337500e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,8.776170e+05,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,0.000000
50%,1.171795e+06,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,0.000000
75%,1.238705e+06,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000,1.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000

In [146]:
# 2.데이터 전처리
# x,y 나누기
x1 = data1[['code', 'Clump_Thickness', 'Cell_Size', 'Cell_Shape', 'Marginal_Adhesion', 'Single_Epithelial_Cell_Size'
          , 'Bare_Nuclei', 'Bland_Chromatin', 'Normal_Nucleoli', 'Mitoses']]
y1 = data1[['code', 'Class']]

In [147]:
print(x1.tail())
print(y1.tail())

       code  Clump_Thickness  Cell_Size  Cell_Shape  Marginal_Adhesion  \
678  776715                3          1           1                  1
679  841769                2          1           1                  1
680  888820                5         10          10                  3
681  897471                4          8           6                  4
682  897471                4          8           8                  5

     Single_Epithelial_Cell_Size  Bare_Nuclei  Bland_Chromatin  \
678                            3            2                1
679                            2            1                1
680                            7            3                8
681                            3            4               10
682                            4            5               10

     Normal_Nucleoli  Mitoses
678                1        1
679                1        1
680               10        2
681                6        1
682                4        1
       code  Class
678  776715      0
679  841769      0
680  888820      1
681  897471      1
682  897471      1

In [148]:
# train, test 나누기
from sklearn.model_selection import train_test_split
x1_train, x1_test, y1_train, y1_test = train_test_split(x1,y1, random_state = 1)

In [149]:
print(y1_train.mean())
print(y1_test.mean())

code     1.068036e+06
Class    3.496094e-01
dtype: float64
code     1.102723e+06
Class    3.508772e-01
dtype: float64

In [150]:
# Z-score 정규화 나누기
from sklearn.preprocessing import StandardScaler
stand_scale = StandardScaler()
stand_scale.fit(x1_train)
# train 정규화
x1_train_stand_scale = stand_scale.transform(x1_train)
pd.DataFrame(x1_train_stand_scale).describe()

,0,1,2,3,4,5,6,7,8,9
count,5.120000e+02,5.120000e+02,5.120000e+02,5.120000e+02,5.120000e+02,5.120000e+02,5.120000e+02,5.120000e+02,5.120000e+02,5.120000e+02
mean,9.337691e-18,1.262011e-16,2.029626e-16,1.262011e-16,1.075529e-16,2.688821e-17,8.239937e-17,-1.535230e-16,-3.512815e-17,1.407294e-16
std,1.000978e+00,1.000978e+00,1.000978e+00,1.000978e+00,1.000978e+00,1.000978e+00,1.000978e+00,1.000978e+00,1.000978e+00,1.000978e+00
min,-2.334758e+00,-1.216300e+00,-7.086328e-01,-7.517494e-01,-6.561760e-01,-1.017678e+00,-7.105497e-01,-9.931206e-01,-6.291152e-01,-3.628096e-01
25%,-4.236972e-01,-8.618629e-01,-7.086328e-01,-7.517494e-01,-6.561760e-01,-5.565707e-01,-7.105497e-01,-5.830579e-01,-6.291152e-01,-3.628096e-01
50%,2.523963e-01,-1.529893e-01,-7.086328e-01,-5.820423e-01,-6.561760e-01,-5.565707e-01,-7.105497e-01,-1.729952e-01,-6.291152e-01,-3.628096e-01
75%,3.973524e-01,5.558843e-01,6.143207e-01,6.059074e-01,3.926131e-01,3.656435e-01,7.298407e-01,3.395832e-01,3.640204e-01,-3.628096e-01
max,1.665249e+01,1.973631e+00,2.268013e+00,2.302978e+00,2.490191e+00,3.132286e+00,1.758691e+00,2.697444e+00,2.350292e+00,4.978490e+00

In [151]:
# test 정규화
x1_test_stand_scale = stand_scale.transform(x1_test)
pd.DataFrame(x1_test_stand_scale).describe()

,0,1,2,3,4,5,6,7,8,9
count,171.000000,171.000000,171.000000,171.000000,171.000000,171.000000,171.000000,171.000000,171.000000,171.000000
mean,0.080610,0.014902,0.010868,0.000519,-0.065338,0.050149,-0.049518,0.038031,-0.040590,-0.019217
std,2.308481,0.999040,1.054079,1.056456,1.004165,1.096294,0.997986,1.017512,1.041162,1.109067
min,-2.092714,-1.216300,-0.708633,-0.751749,-0.656176,-1.017678,-0.710550,-0.993121,-0.629115,-0.362810
25%,-0.541966,-0.861863,-0.708633,-0.751749,-0.656176,-0.556571,-0.710550,-0.583058,-0.629115,-0.362810
50%,0.185131,-0.152989,-0.708633,-0.751749,-0.656176,-0.556571,-0.710550,-0.172995,-0.629115,-0.362810
75%,0.378749,0.201447,0.614321,0.605907,0.043017,0.365644,0.386891,0.647130,0.032975,-0.362810
max,28.784887,1.973631,2.268013,2.302978,2.490191,3.132286,1.758691,2.697444,2.350292,4.978490

In [152]:
## 3.데이터 분석
# 모델 학습
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression()
model1.fit(x1_train_stand_scale, y1_train['Class'])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [153]:
pred_train1 = model1.predict(x1_train_stand_scale)
pred_train1

array([0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 1], dtype=int64)

In [154]:
model1.score(x1_train_stand_scale, y1_train['Class']) # R2

0.96484375

In [155]:
pred_test1 = model1.predict(x1_test_stand_scale)
pred_test1

array([0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0], dtype=int64)

In [156]:
model1.score(x1_test_stand_scale, y1_test['Class']) # R2

0.9883040935672515