In [ ]:
# 15분산분석 - 공분산분석
# https://www.youtube.com/watch?v=AWtFFSoaEAM&list=PLY0OaF78qqGAxKX91WuRigHpwBU0C2SB_&index=15
# https://www.youtube.com/watch?v=PfGwTtRZdSU&list=PLCt8K88AxcKPucYITFaLshFeCIp8F9IGk&index=20///

In [1]:
# ㅁ 공분산분석
#  - 분산분석에 공변량을 추가하여 분산분석모델을 확장
#  - 공변량을 통제하여 독립변수의 순수한 영향을 검정
#  - 공변량은 연속형 변수를 가정

In [37]:
# pip install faraway
import faraway.datasets.sexab
sexa = faraway.datasets.sexab.load()
sexa.tail()

        cpa     ptsd        csa
72  2.17626  6.57281  NotAbused
73 -0.23208 -3.11622  NotAbused
74 -1.85753 -0.46996  NotAbused
75  2.85253  6.84304  NotAbused
76  0.81138  7.12918  NotAbused

In [38]:
sexa[sexa['csa']=='NotAbused'].describe()

             cpa       ptsd
count  31.000000  31.000000
mean    1.308849   4.695874
std     1.970577   3.519743
min    -3.120360  -3.349210
25%    -0.229940   3.544485
50%     1.321650   5.794470
75%     2.830905   6.838045
max     5.049740  10.914470

In [39]:
sexa[sexa['csa']=='Abused'].describe()

             cpa       ptsd
count  45.000000  45.000000
mean    3.075197  11.941093
std     2.371215   3.440152
min    -1.114610   5.984910
25%     1.414620   9.374300
50%     2.627460  11.312770
75%     4.316890  14.901310
max     8.646900  18.992510

In [40]:
import pingouin as pg
pg.anova(data=sexa, dv='ptsd', between='csa', detailed=True)
# p-unc		2.171933e-13 이므로 유의수준 0.05하에서 csa에 따라서 ptsd는 차이가 있음

   Source          SS  DF          MS          F         p-unc       np2
0     csa  963.526475   1  963.526475  79.899591  2.171933e-13  0.519167
1  Within  892.382033  74   12.059217        NaN           NaN       NaN

In [42]:
pg.ancova(data=sexa, dv='ptsd', between='csa', covar='cpa')
# p-unc 2.171933e-13 이므로 유의수준 0.05하에서 csa에 따라서 ptsd는 차이가 있음

     Source          SS  DF          F         p-unc       np2
0       csa  624.025266   1  58.246781  6.906593e-11  0.443796
1       cpa  110.298560   1  10.295314  1.982051e-03  0.123600
2  Residual  782.083472  73        NaN           NaN       NaN

In [43]:
help(pg.ancova)

Help on function ancova in module pingouin.parametric:

ancova(data=None, dv=None, between=None, covar=None, effsize='np2')
    ANCOVA with one or more covariate(s).

    Parameters
    ----------
    data : :py:class:`pandas.DataFrame`
        DataFrame. Note that this function can also directly be used as a
        Pandas method, in which case this argument is no longer needed.
    dv : string
        Name of column in data with the dependent variable.
    between : string
        Name of column in data with the between factor.
    covar : string or list
        Name(s) of column(s) in data with the covariate.
    effsize : str
        Effect size. Must be 'np2' (partial eta-squared) or 'n2'
        (eta-squared).

    Returns
    -------
    aov : :py:class:`pandas.DataFrame`
        ANCOVA summary:

        * ``'Source'``: Names of the factor considered
        * ``'SS'``: Sums of squares
        * ``'DF'``: Degrees of freedom
        * ``'F'``: F-values
        * ``'p-unc'``: Uncorrected p-values
        * ``'np2'``: Partial eta-squared

    Notes
    -----
    Analysis of covariance (ANCOVA) is a general linear model which blends
    ANOVA and regression. ANCOVA evaluates whether the means of a dependent
    variable (dv) are equal across levels of a categorical independent
    variable (between) often called a treatment, while statistically
    controlling for the effects of other continuous variables that are not
    of primary interest, known as covariates or nuisance variables (covar).

    Pingouin uses :py:class:`statsmodels.regression.linear_model.OLS` to
    compute the ANCOVA.

    .. important:: Rows with missing values are automatically removed
        (listwise deletion).

    See Also
    --------
    anova : One-way and N-way ANOVA

    Examples
    --------
    1. Evaluate the reading scores of students with different teaching method
    and family income as a covariate.

    >>> from pingouin import ancova, read_dataset
    >>> df = read_dataset('ancova')
    >>> ancova(data=df, dv='Scores', covar='Income', between='Method')
         Source           SS  DF          F     p-unc       np2
    0    Method   571.029883   3   3.336482  0.031940  0.244077
    1    Income  1678.352687   1  29.419438  0.000006  0.486920
    2  Residual  1768.522313  31        NaN       NaN       NaN

    2. Evaluate the reading scores of students with different teaching method
    and family income + BMI as a covariate.

    >>> ancova(data=df, dv='Scores', covar=['Income', 'BMI'], between='Method',
    ...        effsize="n2")
         Source           SS  DF          F     p-unc        n2
    0    Method   552.284043   3   3.232550  0.036113  0.141802
    1    Income  1573.952434   1  27.637304  0.000011  0.404121
    2       BMI    60.013656   1   1.053790  0.312842  0.015409
    3  Residual  1708.508657  30        NaN       NaN       NaN